.authentication-form-container{
  background-color: #EEF2FE;

}
.authentication-form{
    width: 500px;
}
.authentication-form fieldset{
  border: 0;
  border-bottom: 1px solid #ccc;
  
}
.authentication-form input:focus{
  outline: 0;
  
}
.authentication-form input:focus fieldset{
  border-bottom: 1px solid #9B1FE9;
}
#authentication-btn{
  background-color: #9B1FE9;
}
.authentication-form a{
  color: #9B1FE9;
  text-decoration: none;
}
.authentication-form a:hover{
  color: #9B1FE9;
}